body {
  font-family: "Montserrat";
  font-style: normal;
}
.navbar {
  background: #ab0039;
  color: #fff;
}
.navbar-brand {
  background-color: transparent;
}
.home-banner {
  padding: 0px;
  margin: 0px;
  font-family: sans-serif;
  background-image: url(img/adult-apple-device-business-code-340152\ 1.png);
  background-size: cover;
  height: 600px;
}
.section1 {
  padding-top: 9rem;

  color: #fff;
}
.first {
  font-weight: 600;
  font-size: 40px;
  line-height: 49px;
  padding-bottom: 2rem;
}
.second {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-bottom: 2rem;
}
.btn1 {
  font-size: 13px;
  border-radius: 50px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #fff;
  background: #ab0039;
  border: none;
}
.dots {
  padding-top: 7rem;
}
.dot2 {
  padding-left: 1rem;
  padding-right: 1rem;
}
.arrow {
  padding-bottom: 0.2rem;
  padding-left: 0.5rem;
}
.section2 {
  padding: 4rem;
}
.section-para1 {
  text-align: center;
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  color: #3d3d3d;
  padding-bottom: 2rem;
}
.section-para2 {
  font-weight: 400;
  font-size: 15px;
  line-height: 30px;
  color: #7d7d7d;
  padding-bottom: 2rem;
}
.btn2 {
  text-align: center;
  font-size: 13px;
  border-radius: 50px;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #fff;
  background: #ab0039;
  border: none;
}
.section3 {
  background: #e6e6e6;
  padding: 5rem;
}
.sec_para1 {
  font-weight: 600;
  font-size: 34px;
  line-height: 41px;
  color: #3d3d3d;
  text-align: center;
  padding-right: 2rem;
}
.sec_para2 {
  font-weight: 400;
  font-size: 13px;
  line-height: 23px;
  text-align: justify;
  color: #585858;
}
.cardimg {
  padding-top: 2rem;
}
.card-text {
  padding-top: 2rem;
}
.link1 {
  color: #ab0039;
}
.link2 {
  color: #7d7d7d;
}

.cardbody {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section4 {
  background: #ab0039;
  padding: 5rem;
}
.text1 {
  font-weight: 600;
  font-size: 33px;
  line-height: 40px;
  padding-bottom: 3rem;
  text-align: center;
}
.num1 {
  font-weight: 700;
  font-size: 50px;
}
.num1text {
  font-size: 8px;
}
.numtext {
  border-color: #fff;
  border-radius: 15px;
  text-align: center;
}
.company {
  padding-top: 3rem;
  padding-bottom: 1.5rem;
  font-size: 16px;
  text-align: center;
}
.sec1text {
  font-size: 30px;
  padding-top: 22rem;
}
.line {
  text-align: center;
  padding-top: 2rem;
  padding-right: 1rem;
}
.submit{
     
 font-size: 13px;
  border-radius: 50px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  color: #fff;
  background: #ab0039;
  border: none;   
}
.form-label{
    text-align: left !important;
}
.section5{
    background: #E1E1E1;
    padding: 5rem;
}
.learn{
  color: #ab0039;
  border: none;
  background: none;
  text-decoration: none;
}
.card-title1{
  font-weight: 600;
font-size: 25px;
color: #3D3D3D;
}